*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
@mixin FlexBox($FD,$JC,$AC) {
  display: flex;
  flex-direction: $FD;
  align-items: $AC;
  justify-content: $JC;
}
@mixin titleStyle($w){
  width: $w;
  line-height: 35px;
  height: 100%;
  font-size: 1em;
  color: white;
  font-family: 'Microsoft JhengHei',serif;
}
